@tailwind base;
@tailwind components;
@tailwind utilities;



a{
    color: white;
}

p{
    color: white;

}

#flex1{position: relative;
    text-align: center;
    color: white;
  }

.bottom-left{
position: absolute;
  bottom: 8px;
  left: 16px;
  color:black
}